*{
    height: 0;
    width: 0;
    box-sizing: border-box;
}
.container{
    padding: 30px;
    position: relative;
}

.box{
    background-color: #ff0000;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;

    animation-name: X;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
    /* animation-direction: alternate; */
    animation-delay: 3s;
}

@keyframes X {
    /* from{
        background-color: rgb(255, 0, 0);
        left: 20px;

    }
    to{
        background-color: #ffee00;
        left: 1000px;
    } */

    0%{
        background-color: #ff0000;
        top: 20px;
        left: 20px;

    }
    25%{
        background-color: #ffee00;
        top: 20px;
        left: 1350px;
    }
    50%{
        background-color: #04ff00;
        top: 600px;
        left: 1350px;

    }
    75%{
        background-color: blue;
        top: 600px;
        left: 20px;
    
    }
    100%{
        background-color: #ff0000;
        top: 20px;
        left: 20px;
    }
    
}