*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    background-color: black;
    height: 500px;
    width: 700px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

.one{
    background-color: red;
    grid-row: 1/4
}
.two{
    background-color: blue;
    grid-column: 2/4;
}
.three{
    background-color: green;
}
.four{
    background-color: yellow;
}
.five{
    background-color: orchid;
}
.six{
    background-color: darkseagreen;
}
.seven{
    background-color: saddlebrown;
    /* grid-column: 4/5; */
    /* grid-row: 2/4; */
    grid-area: 2/4/4/5;
}
.eight{
    background-color:cadetblue;
}